* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #daddd3;
  padding: 8%;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  color: #333;
  font-size: 36px;
}

.cadastro {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto 30px auto;
}

.cadastro h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.cadastro label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
  display: block;
}

.cadastro input,
.cadastro select,
.cadastro textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f9f9f9;
}

.cadastro button {
  background-color: #32620e;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.cadastro button:hover {
  background-color: #32620e;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  padding: 10px;
  color: #333;
  font-size: 18px;
}

.card p {
  padding: 10px;
  color: #666;
  font-size: 14px;
  line-height: 1.6;
}
