* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #daddd3;
  color: #333;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #daddd3;
}

.logo img {
  width: 240px;
  margin-left: 40px;
}

.header .menu a {
  margin: 0 10px;
  color: #32620e;
  text-decoration: none;
  margin-right: 50px;
  font-weight: bold;
  font-size: 24px;
}

.header .button {
  background-color: #82b084;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: white;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4%;
  margin: 0 auto;
  gap: 2rem;
}

.hero-content {
  max-width: 50%;
}

.hero h1 {
  color: #32620e;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero p {
  color: #000000bf;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: justify;
}

.hero .btn-green {
  background-color: #32620e;
  border: none;
  color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
}

.hero img {
  max-width: 40%;
  height: auto;
  border-radius: 10px;
}

.footer {
  text-align: center;
  background: white;
  color: #040f0f;
  padding: 1rem;
}

.footer p {
  font-size: 24px;
  font-weight: bold;
  padding: 1rem;
}

.footer .links a {
  margin: 10px 20px;
  color: #040f0f;
  text-decoration: none;
  font-size: 2rem;
  transition: color 0.4s ease;
}

.footer .links a:hover {
  color: #32620e;
}
